@using Tmc.Admin.Models

@model CardTypeListModel
@{
    ViewBag.Title = "List";

    var gridPageSize = 10;
}

<h2>List</h2>

<div id="grid-cardtypes"></div>
<script type="text/javascript">

    function additionalData() {
        return {
            SearchCardTypeName: $('#@Html.IdFor(model => model.SearchCardTypeName)').val()
        };
    }


    $(document).ready(function () {
        $("#grid-cardtypes").kendoGrid(
            {
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("List","CardType"))",
                            type: "POST",
                            dataType: "json"
                        },
                        create: {
                            url: "@Html.Raw(Url.Action("Create","CardType"))",
                            dataType: "JSON",
                            type: "POST",
                            completed: function(jqXhr, textStatus) {
                                if (textStatus == "success") {
                                    alert('add completed');
                                }
                            }
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        alert('vo error' + e);
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    success: function() {
                        alert('ok');
                    },
                    pageSize: @(gridPageSize),
                    serverPaging:true,
                    serverFiltering:true,
                    serverSorting:true

                },
                pageable: true,
                height: 550,
                toolbar: ["create"],
                columns:[
                {field:"Name", title:"Card Type"},
                {field:"ExchangeRate", title:"Exchange Rate"},
                {field:"Threshold", title:"Threshold"},
                {field:"Level", title:"Level"},
                {field:"DisplayOrder", title:"Display Order"},
                    {command:["edit","destroy"],title:"", width:"200px"}
                ],
                editable:"inline"
            });
    });
</script>