@using Tmc.Web.Models.Customers;
@using System.Web.Mvc.Html;
@{
    ViewBag.Title = "Index";
}
@{
    
}
<div class="page login-page">
    <div class="page-title">
        <h2>Welcom To GiaLuc</h2>
    </div>
    @*<div class="greetings">
        @Html.Action("HeaderLinks", "Common")
    </div>*@
</div>