<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
    <siteMapNode title="Home" controller="Home" action="Overview">
        <siteMapNode title="Card Types" PermissionNames="ManageCardTypes" controller="CardType" action="List">
        </siteMapNode>
      <siteMapNode title="Customers" PermissionNames="ManageCustomers" controller="Customer" action="List">
      </siteMapNode>
      <siteMapNode title="Transactions" PermissionNames="ManageTransactions" controller="Transaction" action="List">
      </siteMapNode>
      <siteMapNode title="Customer Roles" PermissionNames="ManageCustomerRoles" controller="CustomerRole" action="List">
      </siteMapNode>
    </siteMapNode>
</siteMap>

