<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
    <siteMapNode title="Home" controller="Home" action="Overview">
        <siteMapNode title="Card Type" PermissionNames="ManageCardTypes" controller="CardType" action="List">
        </siteMapNode>
      <siteMapNode title="Customer" PermissionNames="ManageCustomers" controller="Customer" action="List">
      </siteMapNode>
    </siteMapNode>
</siteMap>

